# Description: Template for .env file
# Usage: Copy this file to .env and fill in the values

GOOGLE_PLACE_API_KEY=AIzaSyCgqkj-ZgZOZb6vJk55H8bQ8Z_szrhla5I
FIREBASE_IOS_API_KEY=
FIREBASE_ANDROID_API_KEY=

GEMINI_API_KEY=AIzaSyApUeW_QrlIPKMnYmUHneVjKdE69fJDJGs