# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.env
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
.superpowers/
migrate_working_dir/
pinit_service_account.json
/venv/
ai/tiktok-processor/build
pubspec.lock
ai/venv/
pubspec.lock
ai/vibe-tags/venv/
ai/send-notification/pinit-a97eb-8f62b614bdc2.json

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# iOS related
ios/Config.xcconfig
ios/Config.xcconfig.template
ios/build/
**/ios/build/
ios/GoogleService-Info.plist
ios/Runner/GoogleService-Info.plist
ios/Runner.xcworkspace/GoogleService-Info.plist
ios/Runner/Info.plist
ios/Runner/AppDelegate.swift
ios/Runner/Runner.entitlements
ios/URLShareExtension/Info.plist
ios/URLShareExtension/ShareViewController.swift
ios/URLShareExtension/URLShareExtension.entitlements
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/project.pbxproj
ios/Runner.xcodeproj/xcshareddata/xcschemes/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig


# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/build
/android/gradle.properties
android/app/.cxx/Debug/315c2q1e
android/app/.cxx/RelWithDebInfo
# python related
functions/venv/   
api/venv/   
api/venv_py311
api/myVenv311
functions/__pycache__/  
api/__pycache__/      
*.pyc
*.pyo
*.pyd
*.p~       

# OS-specific
.DS_Store           

pubspec.lock
ios/Runner/RunnerRelease.entitlements
ios/URLShareExtension/ShareViewController.swift

ai/collections/venv