# Environment for local testing
DEBUG=true
PORT=8080
ENVIRONMENT=local

# Gemini API key for location extraction 
GEMINI_API_KEY=
GOOGLE_PLACE_API_KEY=

# Path to the Google Cloud service account key file - go to google cloud account for pinit
GOOGLE_APPLICATION_CREDENTIALS=

# Optional: TikTok API tokens
MS_TOKENS=

# For Firebase emulator
# Set to 'true' to use Firebase emulator instead of production Firebase
USE_FIREBASE_EMULATOR=true
FIRESTORE_EMULATOR_HOST=localhost:8080
FIREBASE_PROJECT_ID=pinit-10b36